/* TABLET */
@media (max-width: 1024px) {
    .contenedor {
      grid-template-columns: 1fr;
      grid-template-rows: 70px 100px 1fr 50px;
      grid-template-areas: "navegacion  "
      "encabezado"
      "principal "
      "pie ";
    }
    section {
      padding: 1px;
    }
    nav ul,
    nav {
      display: flex;
    }
    nav ul li a {
      font-size: 100%;
      margin: 5px;
    }
    nav img {
      width: 18%;
    }
    #galeria {
      grid-template-columns: repeat(2, 1fr);
    }
    .ocultar {
      display: none;
    }
  }
  
  /* MOVIL */
  @media (max-width: 767px) {
    #galeria {
      grid-template-columns: 1fr;
  }
  nav ul li a {
    font-size: 25px;
    margin: 3px;
  }
  }
